openapi: 3.0.0
info:
  title: PlayHQ External API
  version: 1.0.0
  description: The PlayHQ External API provides programmatic access to sports management functionality including competitions, registrations, teams, games, programs, and venues.
  contact:
    name: API Support
    url: https://support.playhq.com/
    email: help@playhq.com
servers:
  - url: https://api.playhq.com
    description: PlayHQ API server
tags:
  - name: Organisations
  - name: Competitions
  - name: Competition Seasons
  - name: Competition Season Registration Forms
  - name: Competition Season Registrations
  - name: Teams
  - name: Grades
  - name: Games
  - name: Programs
  - name: Program Seasons
  - name: Program Season Groups
  - name: Program Season Registration Forms
  - name: Program Season Registrations
  - name: Profiles
  - name: Admins
  - name: Venues
  - name: Orders
  - name: API Auth Token
  - name: Webhooks
paths:
  /auth:
    post:
      summary: Generate auth token
      description: Provides a jwt token in an object to be used for all requests to the api
      tags:
        - API Auth Token
      requestBody:
        description: A json object containing Client ID and Client Secret
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clients.schema'
            example:
              clientId: YOUR_CLIENT_ID_HERE
              clientSecret: YOUR_CLIENT_SECRET_HERE
      responses:
        '201':
          description: Returns A json object containing access token and its expiry time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jwt.schema'
              example:
                access_token: ACCESS_TOKEN_HERE
                exp: 1588214707
        '400':
          description: Returns BAD_REQUEST (400) http code if the request is malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.schema'
              example:
                status: error
                error: 'Request body is missing or malformed. Please provide {clientId: string, clientSecret: string}'
        '403':
          description: Returns FORBIDDEN (403) http code if the request is accepted but not authorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.schema'
              example:
                status: error
                error: Permission denied
  /venues:
    get:
      summary: Lists all venues
      deprecated: true
      tags:
        - Venues
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer {JWT_Auth_Token}
        - in: query
          name: page
          schema:
            type: number
            default: 1
            minimum: 0
          description: Page Number to fetch data - the maximum value of this parameter will be equal to the totalPages in response metadata
        - in: query
          name: limit
          schema:
            type: number
            default: 10
            minimum: 1
            maximum: 100
          description: Number of objects per page to return
        - in: query
          name: changedSince
          schema:
            type: string
          description: Date in ISO 8601 format to fetch updates since
      responses:
        '200':
          description: Returns list of venues
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/venues.schema'
              example:
                data:
                  venues:
                    - id: dc70a97b-064a-4e60-a19a-10757442aa87
                      name: Melbourne Centre
                      abbreviatedName: ABC
                      timezone: Australia/Melbourne
                      createdAt: '2020-08-10T02:05:17.812000000Z'
                      updatedAt: '2020-08-10T07:29:20.402000000Z'
                      contact:
                        name: XYZ
                        phone: +61-123456
                        website: https://example.com
                      address:
                        line1: 1 example street
                        suburb: Fitzroy
                        postcode: '3000'
                        state: VIC
                        country: Australia
                        latitude: '123456'
                        longitude: '123456'
                      playingSurfaces:
                        - id: 8744d03a-8147-4987-afa5-ec2cbbe7de79
                          name: Court 2
                          abbreviatedName: Crt2
                          surfaceType: WOODEN_SPRUNG
                metadata:
                  page: 4
                  totalPages: 36
                  totalRecords: 355
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
  /games:
    get:
      summary: Lists all games
      deprecated: true
      tags:
        - Games
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer {JWT_Auth_Token}
        - in: query
          name: page
          schema:
            type: number
            default: 1
            minimum: 0
          description: Page Number to fetch data - the maximum value of this parameter will be equal to the totalPages in response metadata
        - in: query
          name: limit
          schema:
            type: number
            default: 10
            minimum: 1
            maximum: 100
          description: Number of objects per page to return
        - in: query
          name: changedSince
          schema:
            type: string
          description: Date in ISO 8601 format to fetch updates since
      responses:
        '200':
          description: Returns list of games
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/games.schema'
              example:
                data:
                  games:
                    - id: 902c3ccd-c720-4f23-8d1f-5a37b02882c8
                      startDate: '2020-06-17T02:25:16.870000000Z'
                      startTime: '10:00:00'
                      matchDayNumber:
                        name: Round 1
                        sequenceNo: '1'
                      homeTeam:
                        id: 3da0d9c4-9b6e-4dcd-846f-6a2ebc4f5bbf
                        name: U8 Boys Team D
                      awayTeam:
                        id: b4de8721-3c8d-4617-b2af-8e419048aa22
                        name: U8 Boys Team A
                      grade:
                        id: 2c412006-473b-427e-a214-be2089430616
                        name: Monday U8 Boys
                      playingSurface:
                        id: f6f8f40d-4ec7-49d1-9ded-0abea2fc79fd
                        name: Court 1
                        surfaceType: WOODEN_NON_SPRUNG
                      venue:
                        id: e6e2729c-8b62-4c5c-ab97-d6fc223cb3c6
                        name: Altona Sports Centre
                        contact:
                          name: ABC
                          phone: '12345678'
                          website: http://example.com
                        address:
                          line1: 4/25 Arygle Street
                          suburb: Fitzroy
                          postcode: '3206'
                          state: VIC
                          country: Australia
                          latitude: '-36.314'
                          longitude: '145.06016'
                      matchDetails:
                        status: completed
                        result: HOME_TEAM_WON
                        homeScore: 23
                        awayScore: 21
                      createdAt: '2010-06-14T02:12:09.612Z'
                      updatedAt: '2010-06-15T02:12:09.612Z'
                metadata:
                  page: 4
                  totalPages: 36
                  totalRecords: 355
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
  /partner/v1/games/{id}/summary:
    get:
      summary: Summary for game (Private)
      description: Game Summary detail for specified game available both pre and post game including participant line up information and statistics. Please note, this API is not applicable to Cricket. This API is organisation scoped, if you request a game that you do not have access to then you will receive a 403.
      tags:
        - Games
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer {JWT_Auth_Token}
        - in: path
          name: id
          required: true
          schema:
            description: ID of the game
            type: string
      responses:
        '200':
          description: Returns list of player appearances and game summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response.schema'
              example:
                data:
                  id: 252ad21d-e7ed-405e-98e4-a9ce0043fda5
                  status: FINAL
                  appearances:
                    - id: da8a098e-13cd-42be-828f-1ef6db6e54ba
                      firstName: Naomi
                      lastName: Banks
                      roleType: Player
                      captainRole: CAPTAIN
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      playerPosition: null
                      email: ''
                      gender: F
                      teamID: 39ff5553-4a8f-473e-9f0f-35396e0d8d17
                      scoreTotal: 62
                      bestPlayer: 1
                      scoreSubTotal:
                        - type: 6_POINT_SCORE
                          value: 54
                        - type: 1_POINT_SCORE
                          value: 8
                    - id: d76a86a2-9b37-41a8-8b53-0376d92191bf
                      firstName: Rylee
                      lastName: Hardin
                      roleType: Player
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      playerPosition: null
                      email: ''
                      gender: M
                      teamID: 1259bcb8-e4c1-46bb-b3bc-f21764184318
                      scoreTotal: 51
                      bestPlayer: 3
                      scoreSubTotal:
                        - type: 6_POINT_SCORE
                          value: 42
                        - type: 1_POINT_SCORE
                          value: 9
                    - id: b373d150-daa3-4ba1-bb7c-dfd0f41777e5
                      firstName: Nina
                      lastName: Benjamin
                      roleType: Player
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      playerPosition: null
                      email: ''
                      gender: F
                      teamID: 1259bcb8-e4c1-46bb-b3bc-f21764184318
                      scoreTotal: 43
                      bestPlayer: 1
                      scoreSubTotal:
                        - type: 6_POINT_SCORE
                          value: 36
                        - type: 1_POINT_SCORE
                          value: 7
                    - id: abe9f159-d970-41be-81a5-6563dd9687db
                      firstName: Hiroko
                      lastName: Norris
                      roleType: Player
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      playerPosition: null
                      email: ''
                      gender: M
                      teamID: 39ff5553-4a8f-473e-9f0f-35396e0d8d17
                      scoreTotal: 38
                      bestPlayer: 3
                      scoreSubTotal:
                        - type: 1_POINT_SCORE
                          value: 8
                        - type: 6_POINT_SCORE
                          value: 30
                    - id: 428d66fb-3da0-4541-ab12-63189667dceb
                      firstName: Rich
                      lastName: Shelton
                      roleType: Player
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      email: ''
                      gender: M
                      playerPosition: null
                      teamID: 39ff5553-4a8f-473e-9f0f-35396e0d8d17
                      scoreTotal: 36
                      bestPlayer: 2
                      scoreSubTotal:
                        - type: 1_POINT_SCORE
                          value: 6
                        - type: 6_POINT_SCORE
                          value: 30
                    - id: 3b9472ff-8838-4f58-9e2d-33987c301dc5
                      firstName: Colby
                      lastName: Gay
                      roleType: Player
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      email: ''
                      gender: M
                      playerPosition: null
                      teamID: 1259bcb8-e4c1-46bb-b3bc-f21764184318
                      scoreTotal: 30
                      bestPlayer: 2
                      scoreSubTotal:
                        - type: 1_POINT_SCORE
                          value: 6
                        - type: 6_POINT_SCORE
                          value: 24
                    - id: a482ea0e-1d09-498e-a38e-a48dd857643d
                      firstName: Tatum
                      lastName: Wynn
                      roleType: Player
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      email: ''
                      gender: M
                      playerPosition: null
                      teamID: 39ff5553-4a8f-473e-9f0f-35396e0d8d17
                      scoreTotal: 27
                      bestPlayer: 4
                      scoreSubTotal:
                        - type: 6_POINT_SCORE
                          value: 24
                        - type: 1_POINT_SCORE
                          value: 3
                    - id: 81c67b63-c88e-46e0-b75f-1b2d88e4cfbf
                      firstName: Judah
                      lastName: Ross
                      roleType: Player
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      email: null
                      gender: M
                      playerPosition: null
                      teamID: 1259bcb8-e4c1-46bb-b3bc-f21764184318
                      scoreTotal: 2
                      bestPlayer: 4
                      scoreSubTotal:
                        - type: 1_POINT_SCORE
                          value: 2
                  competitors:
                    - id: 39ff5553-4a8f-473e-9f0f-35396e0d8d17
                      name: B
                      isHomeTeam: false
                      outcome: WON
                      scoreTotal: 163
                      scoreSubTotal:
                        - type: TOTAL_BEHINDS
                          value: 25
                        - type: TOTAL_GOALS
                          value: 23
                    - id: 1259bcb8-e4c1-46bb-b3bc-f21764184318
                      name: A
                      isHomeTeam: true
                      outcome: LOST
                      scoreTotal: 127
                      scoreSubTotal:
                        - type: TOTAL_BEHINDS
                          value: 24
                        - type: TOTAL_GOALS
                          value: 17
                  periods:
                    - name: FIRST_HALF
                      competitors:
                        - id: 39ff5553-4a8f-473e-9f0f-35396e0d8d17
                          scoreTotals: 38
                          scoreSubtotals:
                            - type: 1_POINT_SCORE
                              value: 20
                            - type: 6_POINT_SCORE
                              value: 3
                        - id: 1259bcb8-e4c1-46bb-b3bc-f21764184318
                          scoreTotals: 72
                          scoreSubtotals:
                            - type: 6_POINT_SCORE
                              value: 10
                            - type: 1_POINT_SCORE
                              value: 12
                    - name: SECOND_HALF
                      competitors:
                        - id: 39ff5553-4a8f-473e-9f0f-35396e0d8d17
                          scoreTotals: 125
                          scoreSubtotals:
                            - type: 6_POINT_SCORE
                              value: 20
                            - type: 1_POINT_SCORE
                              value: 5
                        - id: 1259bcb8-e4c1-46bb-b3bc-f21764184318
                          scoreTotals: 54
                          scoreSubtotals:
                            - type: 1_POINT_SCORE
                              value: 12
                            - type: 6_POINT_SCORE
                              value: 7
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
  /v1/games/{id}/summary:
    get:
      summary: Summary for game (Public)
      description: Game Summary detail for specified game available both pre and post game including participant line up information and statistics, fulfilling visibility settings on PlayHQ.com. Please note, this API is not applicable to Cricket.
      tags:
        - Games
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          required: true
          description: API Key (provided by PlayHQ)
        - in: header
          name: x-phq-tenant
          schema:
            type: string
          required: true
          description: PlayHQ Tenant ID (e.g. `bv`, `afl`)
        - in: query
          name: cursor
          schema:
            type: string
          required: false
          description: Optional. If a response has `metadata.hasMore == true`, set this parameter to `metadata.nextCursor` to request the next page of results.
        - in: path
          name: id
          required: true
          schema:
            description: ID of the game
            type: string
      responses:
        '200':
          description: Returns list of player appearances and game summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response.schema-2'
              example:
                data:
                  id: 252ad21d-e7ed-405e-98e4-a9ce0043fda5
                  status: FINAL
                  appearances:
                    - id: da8a098e-13cd-42be-828f-1ef6db6e54ba
                      firstName: Naomi
                      lastName: Banks
                      roleType: Player
                      captainRole: CAPTAIN
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      playerPosition: null
                      teamID: 39ff5553-4a8f-473e-9f0f-35396e0d8d17
                      scoreTotal: 62
                      bestPlayer: 1
                      scoreSubTotal:
                        - type: 6_POINT_SCORE
                          value: 54
                        - type: 1_POINT_SCORE
                          value: 8
                    - id: d76a86a2-9b37-41a8-8b53-0376d92191bf
                      firstName: Rylee
                      lastName: Hardin
                      roleType: Player
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      playerPosition: null
                      teamID: 1259bcb8-e4c1-46bb-b3bc-f21764184318
                      scoreTotal: 51
                      bestPlayer: 3
                      scoreSubTotal:
                        - type: 6_POINT_SCORE
                          value: 42
                        - type: 1_POINT_SCORE
                          value: 9
                    - id: b373d150-daa3-4ba1-bb7c-dfd0f41777e5
                      firstName: Nina
                      lastName: Benjamin
                      roleType: Player
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      playerPosition: null
                      teamID: 1259bcb8-e4c1-46bb-b3bc-f21764184318
                      scoreTotal: 43
                      bestPlayer: 1
                      scoreSubTotal:
                        - type: 6_POINT_SCORE
                          value: 36
                        - type: 1_POINT_SCORE
                          value: 7
                    - id: abe9f159-d970-41be-81a5-6563dd9687db
                      firstName: Hiroko
                      lastName: Norris
                      roleType: Player
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      playerPosition: null
                      teamID: 39ff5553-4a8f-473e-9f0f-35396e0d8d17
                      scoreTotal: 38
                      bestPlayer: 3
                      scoreSubTotal:
                        - type: 1_POINT_SCORE
                          value: 8
                        - type: 6_POINT_SCORE
                          value: 30
                    - id: 428d66fb-3da0-4541-ab12-63189667dceb
                      firstName: Rich
                      lastName: Shelton
                      roleType: Player
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      playerPosition: null
                      teamID: 39ff5553-4a8f-473e-9f0f-35396e0d8d17
                      scoreTotal: 36
                      bestPlayer: 2
                      scoreSubTotal:
                        - type: 1_POINT_SCORE
                          value: 6
                        - type: 6_POINT_SCORE
                          value: 30
                    - id: 3b9472ff-8838-4f58-9e2d-33987c301dc5
                      firstName: Colby
                      lastName: Gay
                      roleType: Player
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      playerPosition: null
                      teamID: 1259bcb8-e4c1-46bb-b3bc-f21764184318
                      scoreTotal: 30
                      bestPlayer: 2
                      scoreSubTotal:
                        - type: 1_POINT_SCORE
                          value: 6
                        - type: 6_POINT_SCORE
                          value: 24
                    - id: a482ea0e-1d09-498e-a38e-a48dd857643d
                      firstName: Tatum
                      lastName: Wynn
                      roleType: Player
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      playerPosition: null
                      teamID: 39ff5553-4a8f-473e-9f0f-35396e0d8d17
                      scoreTotal: 27
                      bestPlayer: 4
                      scoreSubTotal:
                        - type: 6_POINT_SCORE
                          value: 24
                        - type: 1_POINT_SCORE
                          value: 3
                    - id: 81c67b63-c88e-46e0-b75f-1b2d88e4cfbf
                      firstName: Judah
                      lastName: Ross
                      roleType: Player
                      isFillIn: false
                      isEmergency: false
                      playerNumber: null
                      playerPosition: null
                      teamID: 1259bcb8-e4c1-46bb-b3bc-f21764184318
                      scoreTotal: 2
                      bestPlayer: 4
                      scoreSubTotal:
                        - type: 1_POINT_SCORE
                          value: 2
                  competitors:
                    - id: 39ff5553-4a8f-473e-9f0f-35396e0d8d17
                      name: B
                      isHomeTeam: false
                      outcome: WON
                      scoreTotal: 163
                      scoreSubTotal:
                        - type: TOTAL_BEHINDS
                          value: 25
                        - type: TOTAL_GOALS
                          value: 23
                    - id: 1259bcb8-e4c1-46bb-b3bc-f21764184318
                      name: A
                      isHomeTeam: true
                      outcome: LOST
                      scoreTotal: 127
                      scoreSubTotal:
                        - type: TOTAL_BEHINDS
                          value: 24
                        - type: TOTAL_GOALS
                          value: 17
                  periods:
                    - name: FIRST_HALF
                      competitors:
                        - id: 39ff5553-4a8f-473e-9f0f-35396e0d8d17
                          scoreTotals: 38
                          scoreSubtotals:
                            - type: 1_POINT_SCORE
                              value: 20
                            - type: 6_POINT_SCORE
                              value: 3
                        - id: 1259bcb8-e4c1-46bb-b3bc-f21764184318
                          scoreTotals: 72
                          scoreSubtotals:
                            - type: 6_POINT_SCORE
                              value: 10
                            - type: 1_POINT_SCORE
                              value: 12
                    - name: SECOND_HALF
                      competitors:
                        - id: 39ff5553-4a8f-473e-9f0f-35396e0d8d17
                          scoreTotals: 125
                          scoreSubtotals:
                            - type: 6_POINT_SCORE
                              value: 20
                            - type: 1_POINT_SCORE
                              value: 5
                        - id: 1259bcb8-e4c1-46bb-b3bc-f21764184318
                          scoreTotals: 54
                          scoreSubtotals:
                            - type: 1_POINT_SCORE
                              value: 12
                            - type: 6_POINT_SCORE
                              value: 7
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
  /v2/games/{id}/summary:
    get:
      summary: Summary for game V2 (Public)
      description: Game Summary detail for specified game available both pre and post game including participant line up information and statistics, fulfilling visibility settings on PlayHQ.com. Please note, This API is not fully applicable to all territory sports, refer to v1 Public Game Summary for territory based sports such as AFL or Basketball.
      tags:
        - Games
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          required: true
          description: API Key (provided by PlayHQ)
        - in: header
          name: x-phq-tenant
          schema:
            type: string
          required: true
          description: PlayHQ Tenant ID (e.g. `ca`)
        - in: query
          name: cursor
          schema:
            type: string
          required: false
          description: Optional. If a response has `metadata.hasMore == true`, set this parameter to `metadata.nextCursor` to request the next page of results.
        - in: path
          name: id
          required: true
          schema:
            description: ID of the game
            type: string
      responses:
        '200':
          description: Returns list of player appearances and game summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response.schema-3'
              example:
                data:
                  id: b34d56e1-f387-44b2-a73f-823c277ecc70
                  gradeId: d09518e2-3ce5-4de4-9090-ae0ae099ece1
                  round:
                    id: 89659a14-be81-4f54-959e-327cc2f32a4f
                    name: Round 4
                    abbreviatedName: R4
                    isFinalRound: false
                  status: FINAL
                  type: t20
                  schedule:
                    - day: null
                      dateTime: '2023-11-24T23:00:00.000Z'
                      playingSurfaceId: b99cbf65-417c-47c2-a4dc-a4d9836b35a3
                  appearances:
                    - id: 87418681-e0cf-4018-aa2e-c13c24d35688
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: 68fc386a-24e2-4216-abe7-ea030abcbee4
                      playerPosition: null
                    - id: 5a3c3e56-a4a2-4348-b3a0-345a7f5c26b9
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                      playerPosition: null
                    - id: bb3cdf7b-974a-4359-9471-f6b02e410bb9
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: 68fc386a-24e2-4216-abe7-ea030abcbee4
                      playerPosition: null
                    - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                      playerPosition: null
                    - id: 91642ccf-621e-47d5-a085-7ff6552281b7
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: 68fc386a-24e2-4216-abe7-ea030abcbee4
                      playerPosition: null
                    - id: a684d712-deee-4215-8759-8f0f71c59e6f
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: 68fc386a-24e2-4216-abe7-ea030abcbee4
                      playerPosition: null
                    - id: 0a2ad1cd-ddad-47fa-904a-f388a162cc43
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: 68fc386a-24e2-4216-abe7-ea030abcbee4
                      playerPosition: null
                    - id: 989dc8ea-d88e-4c23-ace0-379e1c8c1b5f
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                      playerPosition: null
                    - id: eef83f23-d605-4dc0-9c00-25591ccf57bd
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                      playerPosition: null
                    - id: d30d742b-261d-467f-ae15-a17f644800a0
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                      playerPosition: null
                  teams:
                    - id: 68fc386a-24e2-4216-abe7-ea030abcbee4
                      name: Senior Men - Team 1
                      isHomeTeam: false
                      outcome: LOST
                      organisation:
                        id: a1b2c3d4-e5f6-7890-abcd-ef0123456789
                        name: Northside Cricket Club
                    - id: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                      name: Senior Men - Team 2
                      isHomeTeam: true
                      outcome: WON
                      organisation:
                        id: f9e8d7c6-b5a4-3210-fedc-ba9876543210
                        name: Southbank Cricket Club
                  coinToss:
                    winningTeamId: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                    preference: BAT
                  periods:
                    - id: edefc59b-0142-4c18-a3fc-fb8a8aa8ea78
                      name: FIRST_INNINGS
                      sequenceNo: 1
                      teams:
                        - id: 68fc386a-24e2-4216-abe7-ea030abcbee4
                          discipline: BOWLING
                          status: null
                          statistics: []
                          appearances:
                            - id: 87418681-e0cf-4018-aa2e-c13c24d35688
                              displayOrder: 1
                              status: null
                              statistics:
                                - type: WICKETS
                                  value: 2
                                - type: NO_BALLS
                                  value: 1
                                - type: OVERS
                                  value: 2.5
                                - type: RUNS
                                  value: 9
                                - type: WIDES
                                  value: 0
                                - type: ECONOMY
                                  value: 3.17
                                - type: MAIDENS
                                  value: 0
                            - id: a684d712-deee-4215-8759-8f0f71c59e6f
                              displayOrder: 0
                              status: null
                              statistics:
                                - type: STUMPINGS
                                  value: 0
                                - type: TOTAL_CATCHES
                                  value: 0
                                - type: RUN_OUTS_ASSISTED
                                  value: 0
                                - type: TOTAL_RUN_OUTS
                                  value: 1
                                - type: CATCHES_AS_FIELDER
                                  value: 0
                                - type: RUN_OUTS_UNASSISTED
                                  value: 1
                                - type: CATCHES_AS_WICKET_KEEPER
                                  value: 0
                          fallOfWickets: null
                        - id: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                          discipline: BATTING
                          status: ALL_OUT
                          statistics:
                            - type: EXTRA_WIDES
                              value: 0
                            - type: TOTALS
                              value: 10
                            - type: EXTRA_PENALTY_RUNS
                              value: 0
                            - type: EXTRA_BYES
                              value: 0
                            - type: TOTAL_EXTRAS
                              value: 1
                            - type: EXTRA_NO_BALLS
                              value: 1
                            - type: EXTRA_LEG_BYES
                              value: 0
                            - type: OVER_LIMIT
                              value: 20
                            - type: TOTAL_SCORE
                              value: 10
                            - type: TOTAL_OVERS
                              value: 2.5
                            - type: TOTAL_OUTS
                              value: 4
                          appearances:
                            - id: 5a3c3e56-a4a2-4348-b3a0-345a7f5c26b9
                              displayOrder: 4
                              status: OUT
                              statistics:
                                - type: SIXES
                                  value: 0
                                - type: BALLS_FACED
                                  value: 1
                                - type: STRIKE_RATE
                                  value: 300
                                - type: FOURS
                                  value: 0
                                - type: TOTAL_RUNS
                                  value: 3
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              displayOrder: 2
                              status: OUT
                              statistics:
                                - type: TOTAL_RUNS
                                  value: 2
                                - type: BALLS_FACED
                                  value: 2
                                - type: FOURS
                                  value: 0
                                - type: STRIKE_RATE
                                  value: 100
                                - type: SIXES
                                  value: 0
                            - id: 989dc8ea-d88e-4c23-ace0-379e1c8c1b5f
                              displayOrder: 1
                              status: OUT
                              statistics:
                                - type: STRIKE_RATE
                                  value: 30
                                - type: SIXES
                                  value: 0
                                - type: FOURS
                                  value: 0
                                - type: BALLS_FACED
                                  value: 10
                                - type: TOTAL_RUNS
                                  value: 3
                            - id: eef83f23-d605-4dc0-9c00-25591ccf57bd
                              displayOrder: 5
                              status: NOT_OUT
                              statistics:
                                - type: STRIKE_RATE
                                  value: 0
                                - type: FOURS
                                  value: 0
                                - type: TOTAL_RUNS
                                  value: 0
                                - type: SIXES
                                  value: 0
                                - type: BALLS_FACED
                                  value: 0
                            - id: d30d742b-261d-467f-ae15-a17f644800a0
                              displayOrder: 3
                              status: OUT
                              statistics:
                                - type: SIXES
                                  value: 0
                                - type: TOTAL_RUNS
                                  value: 1
                                - type: STRIKE_RATE
                                  value: 25
                                - type: FOURS
                                  value: 0
                                - type: BALLS_FACED
                                  value: 4
                          fallOfWickets:
                            - sequenceNo: 1
                              appearanceId: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              runs: 2
                            - sequenceNo: 2
                              appearanceId: d30d742b-261d-467f-ae15-a17f644800a0
                              runs: 4
                            - sequenceNo: 3
                              appearanceId: 5a3c3e56-a4a2-4348-b3a0-345a7f5c26b9
                              runs: 9
                            - sequenceNo: 4
                              appearanceId: 989dc8ea-d88e-4c23-ace0-379e1c8c1b5f
                              runs: 9
                      sharedStatistics:
                        - type: RUN_OUT
                          appearances:
                            - id: a684d712-deee-4215-8759-8f0f71c59e6f
                              role: FIELDING
                            - id: 989dc8ea-d88e-4c23-ace0-379e1c8c1b5f
                              role: BATTING
                        - type: CAUGHT
                          appearances:
                            - id: 87418681-e0cf-4018-aa2e-c13c24d35688
                              role: BOWLING
                            - id: d30d742b-261d-467f-ae15-a17f644800a0
                              role: BATTING
                            - id: a684d712-deee-4215-8759-8f0f71c59e6f
                              role: FIELDING
                        - type: HIT_BALL_TWICE
                          appearances:
                            - id: 5a3c3e56-a4a2-4348-b3a0-345a7f5c26b9
                              role: BATTING
                        - type: BOWLED
                          appearances:
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              role: BATTING
                            - id: 87418681-e0cf-4018-aa2e-c13c24d35688
                              role: BOWLING
                    - id: b9be2e31-1d30-4088-9f04-283a9a421f34
                      name: FIRST_INNINGS
                      sequenceNo: 2
                      teams:
                        - id: 68fc386a-24e2-4216-abe7-ea030abcbee4
                          discipline: BATTING
                          status: ALL_OUT
                          statistics:
                            - type: TOTAL_EXTRAS
                              value: 2
                            - type: TOTALS
                              value: 6
                            - type: EXTRA_WIDES
                              value: 2
                            - type: EXTRA_BYES
                              value: 0
                            - type: EXTRA_PENALTY_RUNS
                              value: 0
                            - type: EXTRA_NO_BALLS
                              value: 0
                            - type: EXTRA_LEG_BYES
                              value: 0
                            - type: OVER_LIMIT
                              value: 20
                            - type: TOTAL_SCORE
                              value: 6
                            - type: TOTAL_OVERS
                              value: 1.5
                            - type: TOTAL_OUTS
                              value: 4
                          appearances:
                            - id: 87418681-e0cf-4018-aa2e-c13c24d35688
                              displayOrder: 1
                              status: OUT
                              statistics:
                                - type: SIXES
                                  value: 0
                                - type: TOTAL_RUNS
                                  value: 2
                                - type: BALLS_FACED
                                  value: 5
                                - type: STRIKE_RATE
                                  value: 40
                                - type: FOURS
                                  value: 0
                            - id: bb3cdf7b-974a-4359-9471-f6b02e410bb9
                              displayOrder: 5
                              status: OUT
                              statistics:
                                - type: TOTAL_RUNS
                                  value: 0
                                - type: STRIKE_RATE
                                  value: 0
                                - type: FOURS
                                  value: 0
                                - type: SIXES
                                  value: 0
                                - type: BALLS_FACED
                                  value: 0
                            - id: 91642ccf-621e-47d5-a085-7ff6552281b7
                              displayOrder: 4
                              status: OUT
                              statistics:
                                - type: SIXES
                                  value: 0
                                - type: TOTAL_RUNS
                                  value: 0
                                - type: STRIKE_RATE
                                  value: 0
                                - type: BALLS_FACED
                                  value: 0
                                - type: FOURS
                                  value: 0
                            - id: a684d712-deee-4215-8759-8f0f71c59e6f
                              displayOrder: 3
                              status: NOT_OUT
                              statistics:
                                - type: BALLS_FACED
                                  value: 1
                                - type: SIXES
                                  value: 0
                                - type: FOURS
                                  value: 0
                                - type: STRIKE_RATE
                                  value: 100
                                - type: TOTAL_RUNS
                                  value: 1
                            - id: 0a2ad1cd-ddad-47fa-904a-f388a162cc43
                              displayOrder: 2
                              status: OUT
                              statistics:
                                - type: SIXES
                                  value: 0
                                - type: BALLS_FACED
                                  value: 3
                                - type: TOTAL_RUNS
                                  value: 1
                                - type: FOURS
                                  value: 0
                                - type: STRIKE_RATE
                                  value: 33.33
                          fallOfWickets:
                            - sequenceNo: 1
                              appearanceId: 87418681-e0cf-4018-aa2e-c13c24d35688
                              runs: 3
                            - sequenceNo: 2
                              appearanceId: 0a2ad1cd-ddad-47fa-904a-f388a162cc43
                              runs: 4
                            - sequenceNo: 3
                              appearanceId: 91642ccf-621e-47d5-a085-7ff6552281b7
                              runs: 5
                            - sequenceNo: 4
                              appearanceId: bb3cdf7b-974a-4359-9471-f6b02e410bb9
                              runs: 6
                        - id: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                          discipline: BOWLING
                          status: null
                          statistics: []
                          appearances:
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              displayOrder: 1
                              status: null
                              statistics:
                                - type: CATCHES_AS_WICKET_KEEPER
                                  value: 0
                                - type: OVERS
                                  value: 1.5
                                - type: TOTAL_CATCHES
                                  value: 0
                                - type: WICKETS
                                  value: 4
                                - type: NO_BALLS
                                  value: 0
                                - type: CATCHES_AS_FIELDER
                                  value: 0
                                - type: MAIDENS
                                  value: 0
                                - type: TOTAL_RUN_OUTS
                                  value: 0
                                - type: RUN_OUTS_UNASSISTED
                                  value: 0
                                - type: STUMPINGS
                                  value: 1
                                - type: RUNS
                                  value: 6
                                - type: RUN_OUTS_ASSISTED
                                  value: 0
                                - type: ECONOMY
                                  value: 3.27
                                - type: WIDES
                                  value: 2
                          fallOfWickets: null
                      sharedStatistics:
                        - type: STUMPED
                          appearances:
                            - id: 91642ccf-621e-47d5-a085-7ff6552281b7
                              role: BATTING
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              role: FIELDING
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              role: BOWLING
                        - type: LEG_BEFORE_WICKET
                          appearances:
                            - id: 0a2ad1cd-ddad-47fa-904a-f388a162cc43
                              role: BATTING
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              role: BOWLING
                        - type: CAUGHT
                          appearances:
                            - id: 87418681-e0cf-4018-aa2e-c13c24d35688
                              role: BATTING
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              role: BOWLING
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              role: FIELDING
                        - type: HIT_WICKET
                          appearances:
                            - id: bb3cdf7b-974a-4359-9471-f6b02e410bb9
                              role: BATTING
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              role: BOWLING
                  playingSurfaces:
                    - id: b99cbf65-417c-47c2-a4dc-a4d9836b35a3
                      name: Oval 1
                      abbreviatedName: O1
                      longitude: null
                      latitude: null
                      venue:
                        id: 0fa66043-a235-4403-9a86-763201173d98
                        name: Test Venue
                        timezone: Australia/Melbourne
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
  /partner/v2/games/{id}/summary:
    get:
      summary: Summary for game V2 (Private)
      description: Game Summary detail for specified game available both pre and post game including participant line up information and statistics. Unlike the public equivalent this endpoint is organisation scoped and does not apply PlayHQ.com visibility settings, so games in hidden grades are returned to authorised partners; if you request a game outside your organisation scope you will receive a 403. Please note, this API is not fully applicable to all territory sports, refer to v1 Private Game Summary for territory based sports such as AFL or Basketball.
      tags:
        - Games
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer {JWT_Auth_Token}
        - in: path
          name: id
          required: true
          schema:
            description: ID of the game
            type: string
      responses:
        '200':
          description: Returns list of player appearances and game summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response.schema-3'
              example:
                data:
                  id: b34d56e1-f387-44b2-a73f-823c277ecc70
                  gradeId: d09518e2-3ce5-4de4-9090-ae0ae099ece1
                  round:
                    id: 89659a14-be81-4f54-959e-327cc2f32a4f
                    name: Round 4
                    abbreviatedName: R4
                    isFinalRound: false
                  status: FINAL
                  type: t20
                  schedule:
                    - day: null
                      dateTime: '2023-11-24T23:00:00.000Z'
                      playingSurfaceId: b99cbf65-417c-47c2-a4dc-a4d9836b35a3
                  appearances:
                    - id: 87418681-e0cf-4018-aa2e-c13c24d35688
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: 68fc386a-24e2-4216-abe7-ea030abcbee4
                      playerPosition: null
                    - id: 5a3c3e56-a4a2-4348-b3a0-345a7f5c26b9
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                      playerPosition: null
                    - id: bb3cdf7b-974a-4359-9471-f6b02e410bb9
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: 68fc386a-24e2-4216-abe7-ea030abcbee4
                      playerPosition: null
                    - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                      playerPosition: null
                    - id: 91642ccf-621e-47d5-a085-7ff6552281b7
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: 68fc386a-24e2-4216-abe7-ea030abcbee4
                      playerPosition: null
                    - id: a684d712-deee-4215-8759-8f0f71c59e6f
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: 68fc386a-24e2-4216-abe7-ea030abcbee4
                      playerPosition: null
                    - id: 0a2ad1cd-ddad-47fa-904a-f388a162cc43
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: 68fc386a-24e2-4216-abe7-ea030abcbee4
                      playerPosition: null
                    - id: 989dc8ea-d88e-4c23-ace0-379e1c8c1b5f
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                      playerPosition: null
                    - id: eef83f23-d605-4dc0-9c00-25591ccf57bd
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                      playerPosition: null
                    - id: d30d742b-261d-467f-ae15-a17f644800a0
                      firstName: null
                      lastName: null
                      captainRole: null
                      playerNumber: null
                      isFillIn: true
                      isRegisteredPlayer: false
                      visible: false
                      roleType: Player
                      teamId: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                      playerPosition: null
                  teams:
                    - id: 68fc386a-24e2-4216-abe7-ea030abcbee4
                      name: Senior Men - Team 1
                      isHomeTeam: false
                      outcome: LOST
                      organisation:
                        id: a1b2c3d4-e5f6-7890-abcd-ef0123456789
                        name: Northside Cricket Club
                    - id: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                      name: Senior Men - Team 2
                      isHomeTeam: true
                      outcome: WON
                      organisation:
                        id: f9e8d7c6-b5a4-3210-fedc-ba9876543210
                        name: Southbank Cricket Club
                  coinToss:
                    winningTeamId: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                    preference: BAT
                  periods:
                    - id: edefc59b-0142-4c18-a3fc-fb8a8aa8ea78
                      name: FIRST_INNINGS
                      sequenceNo: 1
                      teams:
                        - id: 68fc386a-24e2-4216-abe7-ea030abcbee4
                          discipline: BOWLING
                          status: null
                          statistics: []
                          appearances:
                            - id: 87418681-e0cf-4018-aa2e-c13c24d35688
                              displayOrder: 1
                              status: null
                              statistics:
                                - type: WICKETS
                                  value: 2
                                - type: NO_BALLS
                                  value: 1
                                - type: OVERS
                                  value: 2.5
                                - type: RUNS
                                  value: 9
                                - type: WIDES
                                  value: 0
                                - type: ECONOMY
                                  value: 3.17
                                - type: MAIDENS
                                  value: 0
                            - id: a684d712-deee-4215-8759-8f0f71c59e6f
                              displayOrder: 0
                              status: null
                              statistics:
                                - type: STUMPINGS
                                  value: 0
                                - type: TOTAL_CATCHES
                                  value: 0
                                - type: RUN_OUTS_ASSISTED
                                  value: 0
                                - type: TOTAL_RUN_OUTS
                                  value: 1
                                - type: CATCHES_AS_FIELDER
                                  value: 0
                                - type: RUN_OUTS_UNASSISTED
                                  value: 1
                                - type: CATCHES_AS_WICKET_KEEPER
                                  value: 0
                          fallOfWickets: null
                        - id: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                          discipline: BATTING
                          status: ALL_OUT
                          statistics:
                            - type: EXTRA_WIDES
                              value: 0
                            - type: TOTALS
                              value: 10
                            - type: EXTRA_PENALTY_RUNS
                              value: 0
                            - type: EXTRA_BYES
                              value: 0
                            - type: TOTAL_EXTRAS
                              value: 1
                            - type: EXTRA_NO_BALLS
                              value: 1
                            - type: EXTRA_LEG_BYES
                              value: 0
                            - type: OVER_LIMIT
                              value: 20
                            - type: TOTAL_SCORE
                              value: 10
                            - type: TOTAL_OVERS
                              value: 2.5
                            - type: TOTAL_OUTS
                              value: 4
                          appearances:
                            - id: 5a3c3e56-a4a2-4348-b3a0-345a7f5c26b9
                              displayOrder: 4
                              status: OUT
                              statistics:
                                - type: SIXES
                                  value: 0
                                - type: BALLS_FACED
                                  value: 1
                                - type: STRIKE_RATE
                                  value: 300
                                - type: FOURS
                                  value: 0
                                - type: TOTAL_RUNS
                                  value: 3
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              displayOrder: 2
                              status: OUT
                              statistics:
                                - type: TOTAL_RUNS
                                  value: 2
                                - type: BALLS_FACED
                                  value: 2
                                - type: FOURS
                                  value: 0
                                - type: STRIKE_RATE
                                  value: 100
                                - type: SIXES
                                  value: 0
                            - id: 989dc8ea-d88e-4c23-ace0-379e1c8c1b5f
                              displayOrder: 1
                              status: OUT
                              statistics:
                                - type: STRIKE_RATE
                                  value: 30
                                - type: SIXES
                                  value: 0
                                - type: FOURS
                                  value: 0
                                - type: BALLS_FACED
                                  value: 10
                                - type: TOTAL_RUNS
                                  value: 3
                            - id: eef83f23-d605-4dc0-9c00-25591ccf57bd
                              displayOrder: 5
                              status: NOT_OUT
                              statistics:
                                - type: STRIKE_RATE
                                  value: 0
                                - type: FOURS
                                  value: 0
                                - type: TOTAL_RUNS
                                  value: 0
                                - type: SIXES
                                  value: 0
                                - type: BALLS_FACED
                                  value: 0
                            - id: d30d742b-261d-467f-ae15-a17f644800a0
                              displayOrder: 3
                              status: OUT
                              statistics:
                                - type: SIXES
                                  value: 0
                                - type: TOTAL_RUNS
                                  value: 1
                                - type: STRIKE_RATE
                                  value: 25
                                - type: FOURS
                                  value: 0
                                - type: BALLS_FACED
                                  value: 4
                          fallOfWickets:
                            - sequenceNo: 1
                              appearanceId: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              runs: 2
                            - sequenceNo: 2
                              appearanceId: d30d742b-261d-467f-ae15-a17f644800a0
                              runs: 4
                            - sequenceNo: 3
                              appearanceId: 5a3c3e56-a4a2-4348-b3a0-345a7f5c26b9
                              runs: 9
                            - sequenceNo: 4
                              appearanceId: 989dc8ea-d88e-4c23-ace0-379e1c8c1b5f
                              runs: 9
                      sharedStatistics:
                        - type: RUN_OUT
                          appearances:
                            - id: a684d712-deee-4215-8759-8f0f71c59e6f
                              role: FIELDING
                            - id: 989dc8ea-d88e-4c23-ace0-379e1c8c1b5f
                              role: BATTING
                        - type: CAUGHT
                          appearances:
                            - id: 87418681-e0cf-4018-aa2e-c13c24d35688
                              role: BOWLING
                            - id: d30d742b-261d-467f-ae15-a17f644800a0
                              role: BATTING
                            - id: a684d712-deee-4215-8759-8f0f71c59e6f
                              role: FIELDING
                        - type: HIT_BALL_TWICE
                          appearances:
                            - id: 5a3c3e56-a4a2-4348-b3a0-345a7f5c26b9
                              role: BATTING
                        - type: BOWLED
                          appearances:
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              role: BATTING
                            - id: 87418681-e0cf-4018-aa2e-c13c24d35688
                              role: BOWLING
                    - id: b9be2e31-1d30-4088-9f04-283a9a421f34
                      name: FIRST_INNINGS
                      sequenceNo: 2
                      teams:
                        - id: 68fc386a-24e2-4216-abe7-ea030abcbee4
                          discipline: BATTING
                          status: ALL_OUT
                          statistics:
                            - type: TOTAL_EXTRAS
                              value: 2
                            - type: TOTALS
                              value: 6
                            - type: EXTRA_WIDES
                              value: 2
                            - type: EXTRA_BYES
                              value: 0
                            - type: EXTRA_PENALTY_RUNS
                              value: 0
                            - type: EXTRA_NO_BALLS
                              value: 0
                            - type: EXTRA_LEG_BYES
                              value: 0
                            - type: OVER_LIMIT
                              value: 20
                            - type: TOTAL_SCORE
                              value: 6
                            - type: TOTAL_OVERS
                              value: 1.5
                            - type: TOTAL_OUTS
                              value: 4
                          appearances:
                            - id: 87418681-e0cf-4018-aa2e-c13c24d35688
                              displayOrder: 1
                              status: OUT
                              statistics:
                                - type: SIXES
                                  value: 0
                                - type: TOTAL_RUNS
                                  value: 2
                                - type: BALLS_FACED
                                  value: 5
                                - type: STRIKE_RATE
                                  value: 40
                                - type: FOURS
                                  value: 0
                            - id: bb3cdf7b-974a-4359-9471-f6b02e410bb9
                              displayOrder: 5
                              status: OUT
                              statistics:
                                - type: TOTAL_RUNS
                                  value: 0
                                - type: STRIKE_RATE
                                  value: 0
                                - type: FOURS
                                  value: 0
                                - type: SIXES
                                  value: 0
                                - type: BALLS_FACED
                                  value: 0
                            - id: 91642ccf-621e-47d5-a085-7ff6552281b7
                              displayOrder: 4
                              status: OUT
                              statistics:
                                - type: SIXES
                                  value: 0
                                - type: TOTAL_RUNS
                                  value: 0
                                - type: STRIKE_RATE
                                  value: 0
                                - type: BALLS_FACED
                                  value: 0
                                - type: FOURS
                                  value: 0
                            - id: a684d712-deee-4215-8759-8f0f71c59e6f
                              displayOrder: 3
                              status: NOT_OUT
                              statistics:
                                - type: BALLS_FACED
                                  value: 1
                                - type: SIXES
                                  value: 0
                                - type: FOURS
                                  value: 0
                                - type: STRIKE_RATE
                                  value: 100
                                - type: TOTAL_RUNS
                                  value: 1
                            - id: 0a2ad1cd-ddad-47fa-904a-f388a162cc43
                              displayOrder: 2
                              status: OUT
                              statistics:
                                - type: SIXES
                                  value: 0
                                - type: BALLS_FACED
                                  value: 3
                                - type: TOTAL_RUNS
                                  value: 1
                                - type: FOURS
                                  value: 0
                                - type: STRIKE_RATE
                                  value: 33.33
                          fallOfWickets:
                            - sequenceNo: 1
                              appearanceId: 87418681-e0cf-4018-aa2e-c13c24d35688
                              runs: 3
                            - sequenceNo: 2
                              appearanceId: 0a2ad1cd-ddad-47fa-904a-f388a162cc43
                              runs: 4
                            - sequenceNo: 3
                              appearanceId: 91642ccf-621e-47d5-a085-7ff6552281b7
                              runs: 5
                            - sequenceNo: 4
                              appearanceId: bb3cdf7b-974a-4359-9471-f6b02e410bb9
                              runs: 6
                        - id: b06ef5ff-10d4-44bd-b744-32ea3ab74924
                          discipline: BOWLING
                          status: null
                          statistics: []
                          appearances:
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              displayOrder: 1
                              status: null
                              statistics:
                                - type: CATCHES_AS_WICKET_KEEPER
                                  value: 0
                                - type: OVERS
                                  value: 1.5
                                - type: TOTAL_CATCHES
                                  value: 0
                                - type: WICKETS
                                  value: 4
                                - type: NO_BALLS
                                  value: 0
                                - type: CATCHES_AS_FIELDER
                                  value: 0
                                - type: MAIDENS
                                  value: 0
                                - type: TOTAL_RUN_OUTS
                                  value: 0
                                - type: RUN_OUTS_UNASSISTED
                                  value: 0
                                - type: STUMPINGS
                                  value: 1
                                - type: RUNS
                                  value: 6
                                - type: RUN_OUTS_ASSISTED
                                  value: 0
                                - type: ECONOMY
                                  value: 3.27
                                - type: WIDES
                                  value: 2
                          fallOfWickets: null
                      sharedStatistics:
                        - type: STUMPED
                          appearances:
                            - id: 91642ccf-621e-47d5-a085-7ff6552281b7
                              role: BATTING
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              role: FIELDING
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              role: BOWLING
                        - type: LEG_BEFORE_WICKET
                          appearances:
                            - id: 0a2ad1cd-ddad-47fa-904a-f388a162cc43
                              role: BATTING
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              role: BOWLING
                        - type: CAUGHT
                          appearances:
                            - id: 87418681-e0cf-4018-aa2e-c13c24d35688
                              role: BATTING
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              role: BOWLING
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              role: FIELDING
                        - type: HIT_WICKET
                          appearances:
                            - id: bb3cdf7b-974a-4359-9471-f6b02e410bb9
                              role: BATTING
                            - id: edbd7ada-b549-41b8-bb9a-7a4bfcda404b
                              role: BOWLING
                  playingSurfaces:
                    - id: b99cbf65-417c-47c2-a4dc-a4d9836b35a3
                      name: Oval 1
                      abbreviatedName: O1
                      longitude: null
                      latitude: null
                      venue:
                        id: 0fa66043-a235-4403-9a86-763201173d98
                        name: Test Venue
                        timezone: Australia/Melbourne
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
  /partner/v1/games/{id}/events:
    get:
      summary: Game Events (Private)
      description: The Game Events API provides game events captured during a game scored on PlayHQ’s Electronic Scoring Platform. Please note, this API is not applicable to Cricket at present.
      tags:
        - Games
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer {JWT_Auth_Token}
        - in: path
          name: id
          schema:
            description: ID of the game
            type: string
      responses:
        '200':
          description: Returns game events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response.schema-4'
              example:
                data:
                  id: 24b76cc2-3b52-4372-9046-1e7182364169
                  events:
                    - id: acdd62fb-a811-49fb-8325-b93190c3d6b9
                      type: SCORE
                      timestamp: '2022-08-04T03:23:34.797Z'
                      gameTime:
                        - type: PERIOD
                          value: FIRST_QTR
                        - type: MINUTES
                          value: 7
                        - type: SECONDS
                          value: 56
                      appearances:
                        - id: b373d150-daa3-4ba1-bb7c-dfd0f41777e5
                          role: null
                          statistics:
                            - type: 6_POINT_SCORE
                              value: 6
                      teams: []
                    - id: d969d627-94df-4dd1-8b54-a2057bcc9a2b
                      type: SCORE
                      timestamp: '2022-08-04T03:23:37.084Z'
                      gameTime:
                        - type: PERIOD
                          value: FIRST_QTR
                        - type: MINUTES
                          value: 7
                        - type: SECONDS
                          value: 54
                      appearances:
                        - id: abe9f159-d970-41be-81a5-6563dd9687db
                          role: null
                          statistics:
                            - type: 1_POINT_SCORE
                              value: 1
                      teams: []
                    - id: 854c1ee0-b0b4-4868-8e1c-65852c185564
                      type: SCORE
                      timestamp: '2022-08-04T03:23:39.865Z'
                      gameTime:
                        - type: PERIOD
                          value: FIRST_QTR
                        - type: MINUTES
                          value: 7
                        - type: SECONDS
                          value: 51
                      appearances:
                        - id: 428d66fb-3da0-4541-ab12-63189667dceb
                          role: null
                          statistics:
                            - type: 1_POINT_SCORE
                              value: 1
                      teams: []
                    - id: 854a47ec-a992-4e90-bfe6-6e50001ca1b4
                      type: CARD
                      timestamp: '2022-08-04T03:23:50.369Z'
                      gameTime:
                        - type: PERIOD
                          value: FIRST_QTR
                        - type: MINUTES
                          value: 7
                        - type: SECONDS
                          value: 40
                      appearances: []
                      teams:
                        - id: 1259bcb8-e4c1-46bb-b3bc-f21764184318
                          statistics:
                            - type: YELLOW_CARD
                              value: 1
                    - id: 4100cdc8-f1a2-4b01-b6e0-971f8b471b38
                      type: SCORE
                      timestamp: '2022-08-04T03:23:57.455Z'
                      gameTime:
                        - type: PERIOD
                          value: FIRST_QTR
                        - type: MINUTES
                          value: 7
                        - type: SECONDS
                          value: 33
                      appearances:
                        - id: a482ea0e-1d09-498e-a38e-a48dd857643d
                          role: null
                          statistics:
                            - type: 6_POINT_SCORE
                              value: 6
                      teams: []
                    - id: 4e44cc8e-b596-4a4a-9f96-47708b79e5ce
                      type: CARD
                      timestamp: '2022-08-04T03:24:32.218Z'
                      gameTime:
                        - type: PERIOD
                          value: FIRST_QTR
                        - type: MINUTES
                          value: 6
                        - type: SECONDS
                          value: 58
                      appearances:
                        - id: 81c67b63-c88e-46e0-b75f-1b2d88e4cfbf
                          role: null
                          statistics:
                            - type: RED_CARD
                              value: 1
                      teams: []
                    - id: 4fe96a88-44ff-4c7c-ad4f-8b1e1a205834
                      type: SCORE
                      timestamp: '2022-08-04T03:24:36.061Z'
                      gameTime:
                        - type: PERIOD
                          value: FIRST_QTR
                        - type: MINUTES
                          value: 6
                        - type: SECONDS
                          value: 55
                      appearances:
                        - id: d76a86a2-9b37-41a8-8b53-0376d92191bf
                          role: null
                          statistics:
                            - type: 6_POINT_SCORE
                              value: 6
                      teams: []
                    - id: 575b6eff-2a65-4df5-b7eb-02cd40fe1f47
                      type: SCORE
                      timestamp: '2022-08-04T03:24:40.400Z'
                      gameTime:
                        - type: PERIOD
                          value: FIRST_QTR
                        - type: MINUTES
                          value: 6
                        - type: SECONDS
                          value: 50
                      appearances:
                        - id: 3b9472ff-8838-4f58-9e2d-33987c301dc5
                          role: null
                          statistics:
                            - type: 1_POINT_SCORE
                              value: 1
                      teams: []
                    - id: 7e801db2-c1aa-4df5-9641-3ac27e8a8d04
                      type: SCORE
                      timestamp: '2022-08-04T03:25:02.819Z'
                      gameTime:
                        - type: PERIOD
                          value: FIRST_QTR
                        - type: MINUTES
                          value: 6
                        - type: SECONDS
                          value: 28
                      appearances:
                        - id: da8a098e-13cd-42be-828f-1ef6db6e54ba
                          role: null
                          statistics:
                            - type: 6_POINT_SCORE
                              value: 6
                      teams: []
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /partner/v1/games/{id}/live-streaming:
    put:
      summary: Live-streaming Enabled (Private)
      description: Update live-streaming enabled for specified game. Please note, this API is applicable to Cricket.
      tags:
        - Games
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer {JWT_Auth_Token}
        - in: path
          name: id
          required: true
          schema:
            description: ID of the game
            type: string
      requestBody:
        $ref: '#/components/requestBodies/requestBody'
      responses:
        '200':
          description: Successfully updated game live-streaming enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response.schema-5'
              example:
                data:
                  success: true
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
  /partner/v1/games/{id}/get-signed-url:
    post:
      summary: Get Signed URL (Private)
      description: Get a signed URL for accessing game resources.
      tags:
        - Games
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer {JWT_Auth_Token}
        - in: path
          name: id
          required: true
          schema:
            description: ID of the game
            type: string
      requestBody:
        $ref: '#/components/requestBodies/request.schema_requestBody'
      responses:
        '200':
          description: Successfully retrieved signed URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response.schema-6'
              example:
                data:
                  signedUrl: https://example.com/signed-url
                  expiryTime: '2025-11-28T05:43:58.364Z'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
  /teams:
    get:
      summary: Lists all teams
      deprecated: true
      tags:
        - Teams
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer {JWT_Auth_Token}
        - in: query
          name: page
          schema:
            type: number
            default: 1
            minimum: 0
          description: Page Number to fetch data - the maximum value of this parameter will be equal to the totalPages in response metadata
        - in: query
          name: limit
          schema:
            type: number
            default: 10
            minimum: 1
            maximum: 100
          description: Number of objects per page to return
        - in: query
          name: changedSince
          schema:
            type: string
          description: Date in ISO 8601 format to fetch updates since
      responses:
        '200':
          description: Returns list of teams
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/teams.schema'
              example:
                data:
                  teams:
                    - id: 007ce472-bb0d-4e84-b5cb-f88335e0a34e
                      orgid: e86d026f-3f9d-463e-a300-9db067917dfa
                      name: U12 Team A
                      gender: BOYS
                      ageGroup: U12
                      preferredGrade: ABC
                      teamIdentifier: U12TA
                      routingCode: 007ce472
                      createdAt: '2020-08-10T23:14:21.938000000Z'
                      updatedAt: '2020-08-10T23:14:21.938000000Z'
                metadata:
                  page: 4
                  totalPages: 36
                  totalRecords: 355
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
  /v1/teams/{id}/fixture:
    get:
      summary: Fixture for team
      description: Retrieve a list of games and related fixture information per specified team. Please note, this API is not applicable to Cricket
      tags:
        - Teams
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          required: true
          description: API Key (provided by PlayHQ)
        - in: header
          name: x-phq-tenant
          schema:
            type: string
          required: true
          description: PlayHQ Tenant ID (e.g. `bv`, `afl`)
        - in: query
          name: cursor
          schema:
            type: string
          required: false
          description: Optional. If a response has `metadata.hasMore == true`, set this parameter to `metadata.nextCursor` to request the next page of results.
        - in: path
          name: id
          required: true
          schema:
            description: ID of the team
            type: string
      responses:
        '200':
          description: Returns list of fixture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response.schema-7'
              example:
                data:
                  - id: e50b0893-f1f6-41e9-9ee5-19d6b51981cb
                    status: UPCOMING
                    url: https://www.playhq.com/basketball-victoria/org/jg_association2/domestic-winter-2021/monday-u10-mixed/game-centre/91e4cde3
                    createdAt: '2015-08-05T08:40:51.620Z'
                    updatedAt: '2015-08-05T08:40:51.620Z'
                    grade:
                      id: d1f9c41d-cb8f-4faa-a338-cb714ba97a8c
                      name: 12 Boys - VJL2 (P2)
                      url: https://www.playhq.com/basketball-victoria/org/keilor-thunder-basketball-club/victorian-junior-basketball-league-2021/12-boys-vjl2-p2/65260768
                    round:
                      id: a93c2389-b361-4af1-95f1-a758900fb018
                      name: Round 1
                      abbreviatedName: R1
                      isFinalRound: false
                    pool: null
                    schedule:
                      date: '2015-08-05'
                      time: '08:40:51'
                      timezone: Australia/Melbourne
                    competitors:
                      - id: 95c446ef-dea5-486e-96bb-1bb24a609177
                        name: Keilor U12 Boys 2
                        isHomeTeam: true
                        outcome: WON
                        scoreTotal: 47
                        scoreSubTotal:
                          - type: GOALS_TOTAL
                            count: 2
                            value: 12
                          - type: BEHINDS_TOTAL
                            count: 2
                            value: 2
                      - id: 0ed2c665-1a3e-4cd6-8448-22bef74e54b6
                        name: Diamond Valley U12 Boys 2
                        isHomeTeam: false
                        outcome: LOST
                        scoreTotal: 46
                        scoreSubTotal:
                          - type: GOALS_TOTAL
                            count: 4
                            value: 24
                          - type: BEHINDS_TOTAL
                            count: 7
                            value: 7
                    venue:
                      id: eccf8810-7d57-4ffd-bb48-9418e3eb93ac
                      name: Keilor Basketball Netball Stadium
                      surfaceName: Court 1
                      surfaceAbbreviation: CRT1
                      address:
                        line1: Stadium Dr
                        suburb: Keilor Park
                        postcode: 3042
                        state: VIC
                        country: AU
                        latitude: -37.713286
                        longitude: 144.848203
                metadata:
                  hasMore: true
                  nextCursor: dXNlcjpXMDdRQ1JQQTQ=
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
  /partner/v2/organisations:
    get:
      summary: Lists all organisations (v2)
      description: Returns a paginated list of organisations accessible to the authenticated partner. Uses cursor-based pagination.
      tags:
        - Organisations
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer {JWT_Auth_Token}
        - in: query
          name: cursor
          schema:
            type: string
          required: false
          description: Cursor for the next page of results. Use the value of `metadata.nextCursor` from the previous response.
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          required: false
          description: Number of organisations to return per page
        - in: query
          name: type
          schema:
            type: string
            enum:
              - ALL
              - CLUB
              - ASSOCIATION
              - ADMINISTRATIVE_BODY
            default: ALL
          required: false
          description: Filter organisations by type. Defaults to ALL
      responses:
        '200':
          description: Returns list of organisations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response.schema-8'
              example:
                data:
                  organisations:
                    - id: 859d858a-6804-4848-ba4e-fc1105baab43
                      name: SY MS AFL Club
                      nickname: SYs
                      logoName: https://assets.playhq.com/afl/859d85/128_128_logo.png
                      type: CLUB
                      taxStatus: AUS_GST
                      visible: true
                      routingCode: 859d858a
                      createdAt: '2020-08-19T05:09:46.408000000Z'
                      updatedAt: '2020-09-08T23:04:13.098000000Z'
                      address:
                        line1: Apt 5, example street
                        suburb: fitzroy
                        postcode: '3605'
                        state: VIC
                        country: Australia
                        longitude: '144.9721'
                        latitude: '-37.8022'
                      contact:
                        contactNumber: '+611234567'
                        telCountryCode: '61'
                        email: test@playhq.com
                        websiteUrl: http://www.example.com
                      orgDefaultTimeZone: Australia/Melbourne
                      orgDescription: A community AFL club based in Melbourne
                      includeInFinder: true
                      parent:
                        id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                        name: Victoria Football League
                metadata:
                  hasMore: true
                  nextCursor: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
  /organisations:
    get:
      summary: Lists all organisations
      deprecated: true
      tags:
        - Organisations
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer {JWT_Auth_Token}
        - in: query
          name: page
          schema:
            type: number
            default: 1
            minimum: 0
          description: Page Number to fetch data - the maximum value of this parameter will be equal to the totalPages in response metadata
        - in: query
          name: limit
          schema:
            type: number
            default: 10
            minimum: 1
            maximum: 100
          description: Number of objects per page to return
        - in: query
          name: changedSince
          schema:
            type: string
          description: Date in ISO 8601 format to fetch updates since
        - in: query
          name: type
          schema:
            type: string
          description: One of CLUB, ASSOCIATION, ADMINISTRATIVE_BODY or ALL. Defaults to ALL
      responses:
        '200':
          description: Returns list of organisations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisations.schema'
              example:
                data:
                  organisations:
                    - id: 859d858a-6804-4848-ba4e-fc1105baab43
                      name: SY MS AFL Club
                      nickname: SYs
                      logoName: https://assets.playhq.com/59d858/128_128_logo.png
                      termsAndConditionsUrl: ''
                      type: CLUB
                      taxStatus: AUS_GST
                      visible: true
                      routingCode: 859d858a
[...]
